DB_HOST=localhost
DB_PORT=5432
DB_NAME=mqtt_data
DB_USER=mqtt_user
DB_PASSWORD=mqtt_password

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=mqtt_user
RABBITMQ_PASSWORD=mqtt_password

MQTT_HOST=localhost
MQTT_PORT=1883

CLIENT_MQTT_USER=client_demo
CLIENT_MQTT_PASSWORD=demo_device_password